In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/3-9-48-72months_383CpGs_153indivs_age_related.csv')

In [3]:
df

           ProbeID         ID  Months     Input    Output
0       cg12140144  010-20742       3  0.257534  0.015724
1       cg26933021  010-20742       3  0.257534  0.836433
2       cg20822990  010-20742       3  0.257534  0.025841
3       cg07312601  010-20742       3  0.257534  0.795169
4       cg09993145  010-20742       3  0.257534  0.944354
...            ...        ...     ...       ...       ...
157191  cg00343092  010-20640      72  6.101370  0.025154
157192  cg00347775  010-20640      72  6.101370  0.665258
157193  cg27131176  010-20640      72  6.101370  0.197753
157194  cg22982767  010-20640      72  6.101370  0.035526
157195  cg07016730  010-20640      72  6.101370  0.770296

[157196 rows x 5 columns]

In [6]:
# Step 1: Check if each unique ID has all 4 months
months = {3, 9, 48, 72}
valid_ids_months = df.groupby('ID')['Months'].apply(lambda x: set(x) == months)

In [8]:
valid_ids_months.sum()

43

In [9]:
# Step 2: Check if each unique ID has all 383 unique ProbeIDs
unique_probeids = set(df['ProbeID'].unique())
valid_ids_probeids = df.groupby('ID')['ProbeID'].apply(lambda x: set(x) == unique_probeids)

In [17]:
valid_ids_probeids.sum()

57

In [28]:
# Step 3: Check if each unique ID has non-zero values for Input
valid_ids_non_zero_input = df.groupby('ID')['Input'].apply(lambda x: (x > 0).all())

In [29]:
valid_ids_non_zero_input.sum()

153

In [30]:
# Step 3: Check if each unique ID has non-zero values for Output
valid_ids_non_zero_output = df.groupby('ID')['Output'].apply(lambda x: (x > 0).all())

In [31]:
valid_ids_non_zero_output.sum()

71

In [32]:
# Combine all conditions
valid_ids = valid_ids_months & valid_ids_probeids & valid_ids_non_zero_input & valid_ids_non_zero_output

In [33]:
valid_ids.sum()

15

In [36]:
(valid_ids_months & valid_ids_non_zero_output).sum()

15